<!DOCTYPE html>
<html>
<head>
	<title>Camera Shop</title>
	<link href='cam.css' rel='stylesheet' />
</head>
<body ng-app='cameras'>
	<h1>Camera Shop</h1>
	<div ng-controller='mainCtrl'>

		<select ng-model='sortBy'>
			<option>rating</option>
			<option>price</option>
		</select>

		<ul ng-repeat='cam in cams | orderBy : sortBy'>
				<li>{{cam.title}}</li>
				<li ng-class="cam.onSale ? 'onSale' : 'notOnSale' ">Price: {{cam.price}}<span ng-if='cam.onSale'> ON SALE!!</span></li>
				<li>Rating: {{cam.rating}}</li>
				<li><img ng-src="{{cam.image}}" alt="cameras" /></li>	
		</ul>


	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>